<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.sound.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  </head>
<!--   
	<div>
		<input type="number" id="num-balls">Number of Balls</input>
		<br/>	
		<input type="number" id="connect-val">Connect @ Distance</input>
		<br/>
		<input type="number" id="speed">Speed</input>
		<button id="go">Go</button>
	</div> 
-->
  <body>
    <script src="../../js/balls.js"></script>
  </body>
</html>
